<!-- formControlName links to the name key of the property of the class-->
<form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
    <app-input label="Name" [control]="$any(cardForm.get('name'))"></app-input>
    <app-input label="Card Number" [control]="$any(cardForm.get('cardNumber'))"></app-input>
    <app-input label="Expiration" [control]="$any(cardForm.get('expiration'))"></app-input>
    <app-input label="Security Code" [control]="$any(cardForm.get('securityCode'))"></app-input>
    <button class="button is-primary" [disabled]="cardForm.invalid" type="submit">Submit</button>
    <button class="button is-warning" type="button" (click)="onResetClick()">Reset</button>
</form>

<!-- using [key] we can access many properties of FormGroup to validate forms-->
<!-- setting up quick tests-->

<div>Form Contents: {{ cardForm.value | json }} </div>
<div>Form is valid?: {{ cardForm.valid }} </div>
<div>Errors around name: {{ cardForm.controls['name'].errors | json}} </div>
<div>Errors around credit card: {{ cardForm.controls['cardNumber'].errors | json}} </div>
<div>Errors around expiration date: {{ cardForm.controls['expiration'].errors | json}} </div>
<div>Errors around security code: {{ cardForm.controls['securityCode'].errors | json}} </div>