<!-- formControlName links to the name key of the property of the class-->
<div class="field">
    <label class="label">{{ label }}</label>
    <div class="control">
        <input mask="(000)" [ngClass]="{ 'is-danger': showErrors() }"class="input" [formControl]="control"/>
    </div>
    <ng-container *ngIf="showErrors()">
        <div *ngIf="control.errors!['required']" class="help is-danger">
            Value is required
        </div>
        <div *ngIf="control.errors!['minlength']" class="help is-danger">
            Value entered is {{control.errors!['minlength']!.actualLength}} / Min: 3
        </div>
        <div *ngIf="control.errors!['maxlength']" class="help is-danger">
            Value entered is {{control.errors!['maxlength']!.actualLength}} / Max: 3
        </div>
        <div *ngIf="control.errors!['ccValidator']" class="help is-danger">
            Credit card not valid: {{control.errors!['ccValidator'] | json}}
        </div>
        <div *ngIf="control.errors!['pattern']" class="help is-danger">
            Expiration date not valid: {{control.errors!['pattern'] | json}}
        </div>
    </ng-container>
</div>

